<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/presupuesto.css">
    <title>MaxMotion</title>
</head>

<body>

    <!------------------ header ------------------>
    <header>
        <div class="logo">
            <h1>MaxMotion</h1>
            <img src="/images/logo.webp" alt="logo web maxmotion">
        </div>
        <nav> <!-- Menú -->
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a class="active" href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <!------------------ formulario ------------------>

    <div class="formText">
        <h2>Formulario de Presupuesto</h2>
        <p>Al rellenar este formulario podrás saber cual es el precio según el plan que mejor te venga</p>
    </div>
    
    <form id="presupuestoForm">
        <fieldset> <!-- Datos de contacto -->
            <legend>Datos de contacto</legend>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" maxlength="15" required>
            <br>

            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" maxlength="40" required>
            <br>
            <label for="telefono">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" maxlength="9" required>
            <br>

            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
        </fieldset>

        <fieldset> <!-- Presupuesto -->
            <legend>Presupuesto</legend>

            <label for="plan">Plan:</label> <!-- Tipo de plan -->
            <select id="plan" name="plan">
                <option value="42">Estándar - 42€</option>
                <option value="45">Estandar Class - 45€</option>
                <option value="50">Prémium - 50€</option>
                <option value="55">Prémium Class - 55€</option>
            </select>
            <br>

            <label for="plazo">Plazo (meses):</label> <!-- Número de meses -->
            <input type="number" id="plazo" name="plazo" value="1" min="1" max="24">
            <br>

            <label>Extras:</label><br> <!-- Extra Piscina / Extra Spa -->
            <input type="checkbox" id="extra1" name="extra1" value="25">
            <label for="extra1">Acceso a Piscina - 25€</label><br>
            <input type="checkbox" id="extra2" name="extra2" value="20">
            <label for="extra2">Acceso a Spa - 20€</label>
            <br>

            <label for="presupuestoFinal">Presupuesto Final:</label> <!-- Presupuesto Final -->
            <input type="text" id="presupuestoFinal" name="presupuestoFinal" readonly>
        </fieldset>

        <!-- Aceptar condiciones -->
        <input type="checkbox" id="aceptarCondiciones" name="aceptarCondiciones" required>
        <label for="aceptarCondiciones">Acepto los términos y condiciones</label>
        <br>

        <!-- Botones -->
        <button type="submit">Enviar</button>
        <button type="reset">Resetear</button>
    </form>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 MaxMotion. Todos los derechos reservados.</p>
        <div class="social">
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                    <path fill="#3859ff"
                        d="M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h7v-7H8V9.525h2v-2.05c0-2.164 1.212-3.684 3.766-3.684l1.803.002v2.605h-1.197c-.994 0-1.372.746-1.372 1.438v1.69h2.568L15 12h-2v7h4c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2" />
                </svg></a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                    <path fill="#00ffd5"
                        d="M17.316 6.246q.011.244.011.488c0 4.99-3.797 10.742-10.74 10.742c-2.133 0-4.116-.625-5.787-1.697a7.58 7.58 0 0 0 5.588-1.562a3.78 3.78 0 0 1-3.526-2.621a3.86 3.86 0 0 0 1.705-.065a3.78 3.78 0 0 1-3.028-3.703v-.047a3.8 3.8 0 0 0 1.71.473a3.775 3.775 0 0 1-1.168-5.041a10.72 10.72 0 0 0 7.781 3.945a3.8 3.8 0 0 1-.097-.861a3.773 3.773 0 0 1 3.774-3.773a3.77 3.77 0 0 1 2.756 1.191a7.6 7.6 0 0 0 2.397-.916a3.8 3.8 0 0 1-1.66 2.088a7.6 7.6 0 0 0 2.168-.594a7.6 7.6 0 0 1-1.884 1.953" />
                </svg></a>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20">
                    <path fill="#ff8652"
                        d="M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h14c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2M9.984 15.523a5.54 5.54 0 0 0 5.538-5.539c0-.338-.043-.664-.103-.984H17v7.216a.69.69 0 0 1-.693.69H3.693a.69.69 0 0 1-.693-.69V9h1.549c-.061.32-.104.646-.104.984a5.54 5.54 0 0 0 5.539 5.539M6.523 9.984a3.461 3.461 0 1 1 6.922 0a3.461 3.461 0 0 1-6.922 0M16.307 6h-1.615A.694.694 0 0 1 14 5.308V3.691c0-.382.31-.691.691-.691h1.615c.384 0 .694.309.694.691v1.616c0 .381-.31.693-.693.693" />
                </svg></a>
        </div>
    </footer>

    <!-- Enlace a JS -->
    <script src="/js/presupuesto.js"></script>
</body>

</html>